@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  #origial_custom input[type="checkbox"],
  #origial_custom input[type="radio"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  }
  #origial_custom input[type="checkbox"]:after,
  #origial_custom input[type="radio"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  #origial_custom input[type="checkbox"]:checked,
  #origial_custom input[type="radio"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  #origial_custom input[type="checkbox"]:disabled,
  #origial_custom input[type="radio"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  #origial_custom input[type="checkbox"]:disabled:checked,
  #origial_custom input[type="radio"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  #origial_custom input[type="checkbox"]:disabled + label,
  #origial_custom input[type="radio"]:disabled + label {
    cursor: not-allowed;
  }
  #origial_custom input[type="checkbox"]:hover:not(:checked):not(:disabled),
  #origial_custom input[type="radio"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  #origial_custom input[type="checkbox"]:focus,
  #origial_custom input[type="radio"]:focus {
    -webkit-box-shadow: 0 0 0 var(--focus);
            box-shadow: 0 0 0 var(--focus);
  }
  #origial_custom input[type="checkbox"]:not(.switch),
  #origial_custom input[type="radio"]:not(.switch) {
    width: 21px;
  }
  #origial_custom input[type="checkbox"]:not(.switch):after,
  #origial_custom input[type="radio"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  #origial_custom input[type="checkbox"]:not(.switch):checked,
  #origial_custom input[type="radio"]:not(.switch):checked {
    --o: 1;
  }
  #origial_custom input[type="checkbox"] + label,
  #origial_custom input[type="radio"] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  #origial_custom input[type="checkbox"]:not(.switch) {
    border-radius: 7px;
  }
  #origial_custom input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg));
            transform: rotate(var(--r, 20deg));
  }
  #origial_custom input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
  #origial_custom input[type="checkbox"].switch {
    width: 38px;
    border-radius: 11px;
  }
  #origial_custom input[type="checkbox"].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    -webkit-transform: translateX(var(--x, 0));
            transform: translateX(var(--x, 0));
  }
  #origial_custom input[type="checkbox"].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  #origial_custom input[type="checkbox"].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  #origial_custom input[type="radio"] {
    border-radius: 50%;
  }
  #origial_custom input[type="radio"]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
            transform: scale(var(--s, 0.7));
  }
  #origial_custom input[type="radio"]:checked {
    --s: 0.5;
  }
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  #black_version input[type="radio"] {
    --active: #ffffff;
    --active-inner: #000;
    --focus: 2px rgba(00, 00, 00, 0.3);
    --border: #000;
    --border-hover: #000;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    border: 1px solid black;
    background: var(--b, var(--background));
    -webkit-transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  }
  #black_version input[type="radio"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  #black_version input[type="radio"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  #black_version input[type="radio"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  #black_version input[type="radio"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  #black_version input[type="radio"]:disabled + label {
    cursor: not-allowed;
  }
  #black_version input[type="radio"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  #black_version input[type="radio"]:focus {
    -webkit-box-shadow: 0 0 0 var(--focus);
            box-shadow: 0 0 0 var(--focus);
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }
  #black_version input[type="radio"]:not(.switch) {
    width: 21px;
  }
  #black_version input[type="radio"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  #black_version input[type="radio"]:not(.switch):checked {
    --o: 1;
  }
  #black_version input[type="radio"] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  #black_version input[type="radio"] {
    border-radius: 50%;
  }
  #black_version input[type="radio"]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
            transform: scale(var(--s, 0.7));
  }
  #black_version input[type="radio"]:checked {
    --s: 0.5;
  }
}

#black_version .square-checkbox {
  border: 1px solid black;
  margin: 4px;
  width: 18px;
  height: 18px;
  position: relative;
}

#black_version .square-checkbox--clicked .square-checkbox--content {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  width: 12px;
  height: 12px;
}

ul {
  margin: 12px;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 320px;
}

ul li {
  margin: 16px 0;
  position: relative;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: "Inter", Arial, sans-serif;
  color: #8a91b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f8ff;
}

@media (max-width: 800px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=input.css.map */